<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <h4 matSubheader>{{title}}</h4>
    <hr>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let item of sideNavOptions">
        <a [routerLink]="[item.link]" mat-button [disableRipple]="true" (click)="sidenav.toggle()">
          <mat-icon>{{item.icon}}</mat-icon>
          {{item.name}}
          <span class="missed" *ngIf="item.name === 'Chat' && this.missed">({{this.missed}})</span>
        </a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      App
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
