<div class="chat" *ngIf="!messagesLoading; else loading">
  <div class="chat-messages">
    <div *ngFor="let message of messages | async">
        <app-chat-bubble
          *ngIf="!message.event"
          [message]="message"
          [mine]="message.userName === userService.userName">
        </app-chat-bubble>
        <app-chat-event *ngIf="message.event" [event]="message">
        </app-chat-event>
    </div>

  </div>
  <form class="chat-input" (ngSubmit)="sendMessage()">
    <mat-form-field>
      <input
        matInput
        placeholder="Write message"
        name="message"
        [(ngModel)]="message"
        autocomplete="off"
      >
    </mat-form-field>
    <button mat-icon-button>
      <mat-icon>send</mat-icon>
    </button>
  </form>
</div>
<ng-template #loading>
  <div class="loading">
    <mat-spinner></mat-spinner><br>
    Loading Messages
  </div>
</ng-template>
